 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-image-1 {
  width: 269px;
  height: 269px;
  background-image: url("images/4118040-0.jpeg");
  background-position: 50% 50%;
  margin: 132px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 256px;
  height: 256px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: -115px 127px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -306px 432px 0 27px;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  margin: 34px 665px 0 34px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 49px 665px 0 34px;
}

.u-section-1 .u-btn-3 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 45px 425px 45px 34px;
}

.u-section-1 .u-btn-4 {
  color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 200px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -469px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 441px;
    margin-right: 499px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: 499px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin: 116px 259px 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 279px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -429px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -27px;
    margin-right: 99px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 187px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -456px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -26px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-bottom: 45px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-color: transparent !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 567px;
}

.u-section-2 .u-image-1 {
  width: 269px;
  height: 269px;
  background-image: url("images/4118040-0.jpeg");
  background-position: 50% 50%;
  margin: 132px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 256px;
  height: 256px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: -115px 127px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -409px 435px 0 24px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  transition-duration: 0.5s;
  margin: 65px 675px 0 24px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 65px 425px 0 34px;
}

.u-section-2 .u-btn-3 {
  color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 65px 425px 60px 34px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 200px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -469px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 441px;
    margin-right: 499px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 60px;
    margin-right: 259px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 279px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 39px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: -429px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 99px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -27px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 45px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 187px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 84px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -456px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -26px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 53px;
  }
}

.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]).u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]).u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]).u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]).u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-block-77dc-25:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 646px;
}

.u-section-3 .u-image-1 {
  width: 269px;
  height: 269px;
  background-image: url("images/4118040-0.jpeg");
  background-position: 50% 50%;
  margin: 132px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 256px;
  height: 256px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: -115px 127px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -259px 425px 0 34px;
}

.u-section-3 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-3 .u-text-2 {
  transition-duration: 0.5s;
  margin: -12px 665px 0 34px;
}

.u-section-3 .u-text-3 {
  margin: 93px 425px 60px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 200px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -469px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 441px;
    margin-right: 499px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 116px;
    margin-right: 259px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 279px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: -429px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 99px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 89px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-top: 187px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 84px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -456px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 90px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 571px;
}

.u-section-4 .u-text-1 {
  margin: 96px 448px 0 11px;
}

.u-section-4 .u-btn-1 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 269px;
  height: 269px;
  background-image: url("images/4118040-0.jpeg");
  background-position: 50% 50%;
  margin: -4px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 256px;
  height: 256px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: -115px 127px 0 auto;
}

.u-section-4 .u-text-2 {
  transition-duration: 0.5s;
  margin: -362px 401px 0 11px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 47px 688px 0 11px;
}

.u-section-4 .u-btn-3 {
  transition-duration: 0.5s;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 44px 448px 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 141px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    width: 441px;
    margin-top: -275px;
    margin-right: 212px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 12px;
    margin-right: 499px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin: 116px 259px 45px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 181px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -235px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -27px;
    margin-right: 99px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 141px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -33px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 84px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: -223px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -26px;
    margin-right: 0;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-4 .u-btn-3,
.u-section-4 .u-btn-3:before,
.u-section-4 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-2.u-text-2.u-text-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-4 .u-text-2.u-text-2.u-text-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-4 .u-text-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}